.logo{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background: red;
	position: relative;
}

.logomini{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: white 15px solid;
    position: absolute;
    top: 48px;
    left: 46px;
}

.logorecta{
    width: 15px;
    height: 100px;
    border-radius: 50px;
    background: white;
    position: absolute;
    top: 4px;
    left: 46px;
}


